@model Storyboard.Domain.Models.StoryOverview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Summary.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary.Synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary.Synopsis)
        </dd>

    </dl>

    @foreach (var item in Model.Actors)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem=> item.Name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.Description)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Description)
            </dd>

        </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Summary.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
