<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    <meta name="description" content="@ViewBag.Description" />
</head>
<body>
    <header>
    <div class="titleBlock">
        Storyboard
    </div>
    <div class="userBlock">
        @if (Model.IsLoggedIn)
        {
            @Model.Username
            <div class="dropdown" style="display:inline">
                <button class="btn btn-icon glyphicon glyphicon-cog dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        @Html.ActionLink("Log out", "LogOff", "Account", null, new { role = "menuitem", tabindex = "-1" })
                </li>
            </ul>

        </div>

        }
        else
        {
            @Html.ActionLink("Log in", "LogIn", "Account")
        }
    </div>

    <div class="clearfix"></div>
</header>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>

</html>
