<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <meta name="description" content="@ViewBag.Description" />
</head>
<body>
    <header><h3>Storyboard</h3></header>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <footer>
        <p>&copy; @DateTime.Now.Year - Storyboard</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

